<div class="card col-md-6 offset-3 mt-2">
    <div class="card-header">
        Add new Customer
    </div>
    <div class="card-body">

        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && addCustomer()">
            <div class="mb-3">
                <label for="">Name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="newCustomers.name" required
                    minlength="2" maxlength="20" #name="ngModel" [class.is-invalid]="f.submitted && name.invalid">

                <div *ngIf="f.submitted && name.errors" class="invalid-feedback">
                    <div *ngIf="name.errors['required']">Name is required</div>
                    <div *ngIf="name.errors['minlength']">Name must be at least 2 characters</div>
                    <div *ngIf="name.errors['maxlength']">Name must be at most 20 characters</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="">Email</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="newCustomers.email"
                    required [class.is-invalid]="f.submitted && email.invalid" #email="ngModel" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">

                <div *ngIf="f.submitted && email.errors" class="invalid-feedback">
                    <div *ngIf="email.errors['required']">Email is required</div>
                    <div *ngIf="email.errors['email']">Please enter a valid email address</div>
                </div>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>

    </div>